*{
  margin: 0;
}

.inicio{
  background-color: #000;
}

/* Estilos NavBar */
.nav{
  background-color: #000;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav img{
  height: 40px;
  width: 150px;
  margin: 10px 10px 0px 10px
}

.nav__navBar{
  flex-grow: .8;
}

.navBar__order{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navElement{
  margin: 10px 10px 0px 20px;
  font-size: 30px;
  list-style: none;
  color: #fff;
}

a{
  text-decoration: none;
}

/* Estilos main-index */
  /* Carrousel */
  .coches{
    z-index: 5;
    height: 747px;
    border-bottom: 5px solid #000;
    overflow: hidden;
  }

  .button_marc{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    display: inline-flex;
    align-items: center;
    letter-spacing: 1px;
    color:#fff;
  }

  .button_marc>span{
    margin-right: 5px;
  }
  /* Seccion otras marcas */
  .otrasMarcas__title{
    color: #fff;
    margin-left: 10px;
    text-align: center;
    margin:20px 
  }
  .otrasMarcas__logo{
    position:relative;
    overflow: hidden;
    margin-bottom: 15px;
  }
  .inner{
    position:absolute;
    width: 200px;
    z-index: 1;
  }
  .inner2{
    width: 100px;
    position:absolute;
    left:10px;
    top:10px;
    z-index: 1;
  }
  .autos{
    max-width: 550px;
    height: 367px;
    inset: 0;
    object-fit: cover;
    transition: transform .75s;
  }
  .autos:hover{
    transform: scale(1.15);
  }
  .texto{
    position:absolute;
    color:rgb(255, 255, 255);
    bottom: 15px;
    left:80%;
    font-size: 16px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    display: inline-flex;
    align-items: center;
    letter-spacing: 1px;
    color:#fff;
    padding: 5px;
    z-index: 1;
  }
/* Fin estilos main-index */

/* Estilos Footer */
  .piePag{
    color: #fff;
    border-top: 4px double #fff;
    background-color: rgb(41, 41, 41);
  }
  .piePag__inf{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  .text_fot{
    margin-left: 10px;
    margin-right: 10px;
  }
  .inf__redes{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    align-items: center;
  }
  .redes__iconos{
    display: flex;
    list-style: none;
  }
  .redes__iconos>li, .redes__iconos>li>a{
    margin-right: 5px;
    padding-right: 10px;
    color: #fff;
  }
  .redes__iconos>li::after{
    content: "|";
    margin-left: 7px;
  }
  .fotuli{
    margin-left: 10px;
  }
/* Fin estilos footer */

/* Estilos coches.html */
  /* seccion ferrari */
    .compra{
      background-color: Transparent;
      background-repeat:no-repeat;
      border: none;
      cursor:pointer;
      overflow: hidden;
      outline:none;
      color: #fff;
      margin-left: 15px;
      margin-bottom: 10px;
    }
    .display{
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
    }
    .disp_title{
      border-bottom: 4px solid #f00;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 9px;
      padding-bottom: 5px;
    }
    .display__img{
      background: linear-gradient(7deg, rgba(0,0,0,1) 0%, rgba(106,106,106,1) 50%, rgba(247,247,247,1) 100%);
      border-radius: 5px;
      margin-left: 15px;
    }
    .display__img>h4{
      color: #fff;
      text-align: center;
      border-top: 2px solid #00f;
    }
  /* seccion lamborghini */
    .lamboCar{
      background-color: #000;
    }
    .titleLamb{
      color: #fff;
      background: rgb(0,0,0);
      background: linear-gradient(0deg, rgba(0,0,0,1) 57%, rgba(106,106,106,1) 70%, rgba(247,247,247,1) 84%);
      padding: 15px 0px 9px 15px;
      border-bottom: 4px solid #fff;
    }
    .displaylmb{
      display: flex;
    }
    .disp__img{
      margin-left: 15px;
      margin-right: 15px;
    }
    .disp__img>h4{
      color: #fff;
      text-align: center;
      border-top: 2px solid #00f;
    }
  /* Seccion no Premium */
  .title{
    border-top: 4px solid #000;
    border-bottom: 5px solid #00f;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .ford_img{
    margin-left: 15px;
    margin-right: 15px;
  }
  .ford_img>h4{
    text-align: center;
    border-top: 2px solid #00f;
  }
  .toyo_img{
    margin-right: 10px;
  }
  .toyo_img>h4{
    text-align: center;
    border-top: 2px solid rgb(110, 110, 110);
  }
  .auditit{
    margin-left: 15px;
    border-top: 4px solid #000;
    border-bottom: 3px double #000;
    margin-bottom: 15px;
    padding: 10px;
  }
  .audi_img{
    margin-right: 15px;
  }
  .audi_img>h4{
    text-align: center;
    border-top: 2px solid rgba(34, 34, 34, 0.685);
  }
  .bmwtitle{
    margin-left: 15px;
    border-top: 4px solid #000;
    border-bottom: 3px double #000;
    margin-bottom: 15px;
    padding: 10px;
  }
  .bmw_img{
    margin-right: 15px;
  }
  .bmw_img>h4{
    text-align: center;
    border-top: 2px solid rgba(1, 88, 187, 0.685);
  }
  .float{
    display: none;
    position: fixed;
    right : 10px;
    bottom : 16px;
    z-index: 10;
    padding: 10px;
    background-color: rgb(6, 179, 6);
    outline: none;
    border: none;
    color: #fff;
  }
  .float:hover{
    background-color: rgb(4, 138, 4);
    transition: all 0.5s;
  }
  .blanco{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #000;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  .negro{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #fff;
    margin-left: 15px;
    margin-bottom: 10px;
  }
/* Fin estilos coches.index */
/* estilos Pago.html */
  .cocheSelect{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    background-color: #fff;
  }
  .cocheImg{
    margin-right: 35px;
    border: 3px solid #000;
    border-radius: 5px;
    padding: 15px;
  }
  .cocheImg>p{
    text-align: center;
    font-size: 20px;
    border-bottom: 5px solid #000;
    padding-bottom: 5px;
  }
  .ingresar{
    border-radius: 3px;
    width: 300px;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #000;
    border-radius: 10px;
    padding-top: 20px;
    margin: 20px 200px 20px 200px;
  }
  .ingreso{
    margin-bottom: 15px;
    width: 30rem;
  }
.fin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #000;
  color: #fff;
  width: 30rem;
  border: solid 4px rgb(51, 51, 51);
  margin: 5px 5px;
}
.algo{
  overflow: hidden;
  flex-wrap: wrap;
  margin:15px 10px;
  padding-bottom: 15px;
  border-bottom: solid 4px #f00;
  border-left: solid 4px #f00;
  border-bottom-left-radius: 10px;
}
.aa{
  cursor: default
}
.tit{
  margin: 1rem;
  font-family: 'Fira Sans', sans-serif;
}
.datitos{
  padding-bottom: 1rem;
}